div.ho{height:100%;width:100%;text-align:center;display:none}a:hover div.ho{display:block}a.hpl:link,a.hpl:visited{color:#fff;text-decoration:none}div.hptile{height:150px;color:#fff;width:100%;font-size:1.2em;background:#66f url(../images/couple-in-kitchen.jpg) no-repeat;background-size:100% 100%;display:block}.logo{width:100%;color:#fff;font-size:85%}a.logol:link,a.logol:visited{text-decoration:none;color:#57a117}.sa{width:100%;color:#fff}a.sal a.sal:link,a.sal:visited{color:#fff;text-decoration:underline;font-weight:700}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}strong{font-weight:700}h1,h2,h3,h4,h5,h6{font-family:"Open Sans",Arial,sans-serif;font-weight:700;line-height:1em;padding:0}h1{font-size:3em}h2{font-size:2em}h3{font-size:1.5em}h4{font-size:1.25em}h5,h6{font-size:1em}hr{background:#fff}.row{margin-bottom:10px}
/*
     FILE ARCHIVED ON 15:22:08 Nov 20, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:43:16 Jun 11, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.827
  exclusion.robots: 0.031
  exclusion.robots.policy: 0.014
  esindex: 0.016
  cdx.remote: 21.484
  LoadShardBlock: 94.787 (3)
  PetaboxLoader3.datanode: 90.463 (4)
  load_resource: 216.283
  PetaboxLoader3.resolve: 175.187
*/