
/*
     FILE ARCHIVED ON 15:22:07 Nov 20, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:13:48 May 20, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.595
  exclusion.robots: 0.029
  exclusion.robots.policy: 0.017
  esindex: 0.012
  cdx.remote: 8.324
  LoadShardBlock: 83.6 (3)
  PetaboxLoader3.datanode: 89.803 (4)
  load_resource: 115.364
  PetaboxLoader3.resolve: 73.308
*/