
/*
     FILE ARCHIVED ON 23:17:22 May 14, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:57:38 Jun 05, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.99
  exclusion.robots: 0.045
  exclusion.robots.policy: 0.029
  esindex: 0.016
  cdx.remote: 3146.817
  LoadShardBlock: 250.544 (3)
  PetaboxLoader3.datanode: 346.813 (5)
  load_resource: 702.627
  PetaboxLoader3.resolve: 152.911
  loaddict: 391.329
*/